html {
  font-size: 16px;
  line-height: 1.5;
  overflow-y: scroll;
}

body {
  background: rgb(var(--background-color));
  margin: 0;
}

#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(var(--on-background-color), 0.85);
  min-width: 360px;
}

input,
button,
select,
option,
textarea {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
